<div class="porduct-item">
    <div class="product-container">
        <%- include('./productActions.ejs', {discount: discount}) %>
        <%- include('./productImg.ejs', {images: images}) %>
        <div class="bottom">
            <%- include('./titlePriceElement.ejs', {title: title, price: price}) %>
        </div>
        <%- include('./productMenu.ejs') %>
    </div>
    <%- include('./btn', {title: '', icon: '/images/icons/add-btn-icon.png'}) %>
    <%- include('./actionsBtn.ejs', {_id: _id}) %>
</div>