<div class="porduct-item">
    <div class="product-container">
        <%- include('./productActions.ejs', {disconut: 25}) %>
        <%- include('./productImg.ejs') %>
        <div class="bottom">
            <%- include('./titlePriceElement.ejs') %>
        </div>
        <%- include('./productMenu.ejs') %>
    </div>
    <%- include('./btn', {title: '', icon: '/images/icons/add-btn-icon.png'}) %>
    <%- include('./actionsBtn.ejs') %>
</div>