<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs', {title: 'New Product'}) %>
<body>
    <%- include('./partials/header.ejs', {title: 'Add product'}) %>
    <div class="main base-width base-right-left-padding">
        <div class="page-header-container">
            <%- include('./partials/pageHeader.ejs', {title: 'Add product'}) %>
        </div>
        <form action="/new" method="POST" class="new-product input-form-container">
            <%- include('./partials/input.ejs', {placeholder: 'Product title', type: 'String', name: 'title', value: ''}) %>
            <%- include('./partials/input.ejs', {placeholder: 'Price', type: 'Number', name: 'price', value: ''}) %>
            <%- include('./partials/input.ejs', {placeholder: 'Discount', type: 'Number', name: 'discount', value: ''}) %>
            <%- include('./partials/input.ejs', {placeholder: 'Images URL', type: 'String', name: 'images', value: ''}) %>
            <%- include('./partials/btn', { icon: '', title: 'Add product'}) %>
        </form>
    </div>
</body>
</html>